.wrapper {
    width: 100vw;
    height: 100vh;
    background: #2196f3;
}

.content,
.background {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    z-index: 1;
    flex-direction: column;
}

.background {
    z-index: 0;
    pointer-events: none;
    filter: blur(0.4px) drop-shadow(1px 1px 1px #00ff50);
}
.inner {
    max-width: 720px;
    max-height: 600px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

$color: black;
$color2: #ffeb3b;
$radius: .35rem;
$border-width: 2px;
$color-bg: white;
$offset: .5rem;
$offset2: 1rem;
$transition: .2s;

.file {
    border: solid $border-width $color;
    outline: 0;
    padding: 1rem 4rem;
    font-size: 1.5rem;
    letter-spacing: .08rem;
    background-color: $color-bg;
    border-radius: $radius;
    position: relative;
    cursor: pointer;
    max-width: 70vw;
    text-align: center;
    font-weight: 800;
    &:after {
        content: '';
        position: absolute;
        top: -#{$offset};
        left: -#{$offset};
        width: calc(100% + #{$offset} * 2);
        height: calc(100% + #{$offset} * 2);
        background-color: $color2;
        z-index: -1;
        border-radius: $radius;
        transition: all $transition ease-in-out;
        border: 0;
        box-shadow: 0px 0px 0px $border-width $color;
    }
    &:hover {
        &:after {
            top: -#{$offset2};
            left: -#{$offset2};
            width: calc(100% + #{$offset2} * 2);
            height: calc(100% + #{$offset2} * 2);
        }
    }
    input[type='file'] {
        display: none;
    }
}

.video {
    width: 100%;
    height: 540px;
    margin: 20px;
    video {
        height: 100%;
        width: 100%;
    }
}
