.wrapper {
    p {
        white-space: pre-wrap;
        word-break: break-word;
        font-size: 20px;
        line-height: 30px;
    }
    a {
        text-decoration: underline;
        color: #03a9f4;
    }
}

