:root {
    --sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    --mono: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
        monospace;
    --image-size: auto;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--sans);
    font-size: 16px;
}

body.dark {
    --bg: #111;
    --color: #fff;
    --desc: #888;
    --line: #eaeaea;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
